<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DivyamAirlines</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerController</display-name>
    <servlet-name>UpdateCustomerController</servlet-name>
    <servlet-class>controller.UpdateCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerController</servlet-name>
    <url-pattern>/UpdateCustomerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckAvailabilityController</display-name>
    <servlet-name>CheckAvailabilityController</servlet-name>
    <servlet-class>controller.CheckAvailabilityController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAvailabilityController</servlet-name>
    <url-pattern>/CheckAvailabilityController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelBookingController</display-name>
    <servlet-name>CancelBookingController</servlet-name>
    <servlet-class>controller.CancelBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelBookingController</servlet-name>
    <url-pattern>/CancelBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffLoginController</display-name>
    <servlet-name>StaffLoginController</servlet-name>
    <servlet-class>controller.StaffLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffLoginController</servlet-name>
    <url-pattern>/StaffLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStaffController</display-name>
    <servlet-name>UpdateStaffController</servlet-name>
    <servlet-class>controller.UpdateStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStaffController</servlet-name>
    <url-pattern>/UpdateStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffRevenueController</display-name>
    <servlet-name>StaffRevenueController</servlet-name>
    <servlet-class>controller.StaffRevenueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffRevenueController</servlet-name>
    <url-pattern>/StaffRevenueController</url-pattern>
  </servlet-mapping>
</web-app>