<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="emp1" class="com.hr.Employee">
		<constructor-arg value="1001" index="2"/>
		<constructor-arg value="Rahul Barve" index="0"/>
		<constructor-arg value="20000" index="1"/>
	</bean>
</beans>


