<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="emp1" class="com.hr.Employee" init-method="myInitMethod" destroy-method="clear">
		<property name="empId" value="1001"/>
		<property name="name" value="Rahul Barve"/>
		<property name="sal" value="20000"/>
	</bean>
	<bean class="com.hr.BeanPostProcessorImpl"/>
</beans>
