div#heading {
	text-align: center;
	font-size: 20px;
}

div#display {
	text-align: center;
	font-size: 20px;
	margin-top: 5%;
	margin-left: 5%;
}

div#input {
	margin-top: 3%;
	margin-left: 35%;
}

::-webkit-input-placeholder {
	color: olive;
}

table, tr, td {
	padding: 2%;
}
table#displayTable{
	text-align: center;
}
th {
	border-bottom: 2px solid #408080;
}

.textField {
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	font-size: 12px;
}

.textField:Focus {
	border: 1px solid navy;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
}

.submitButton {
	border: none;
	padding: 10px;
	width: auto;
	background: cornflowerblue;
	color: azure;
	border-radius: 15px;
	height: auto;
}

.submitButton:hover {
	border: 1px solid cornflowerblue;
	background: azure;
	color: cornflowerblue;
}

.submitButton:FOCUS {
	outline: none;
}